h2 {
  font-family: "din-condensed-web";
  font-size: 48px;
  margin-bottom: 5px;
}

h3 {
  font-family: "din-condensed-web";
  font-size: 30px;
  margin-top: 5px;
}

p {
  font-family: "minion-pro";
  font-size: 22px;
}
