h2 {
  font-family: "effra";
  font-size: 48px;
  margin-bottom: 5px;
}

h3 {
  font-family: "effra";
  font-size: 30px;
  margin-top: 5px;
}

p {
  font-family: "minion-pro";
  font-size: 22px;
}

img.reviewer{
  border-radius:50px;
  border:2px solid #444;
}
