body {
  font-family: "effra",sans-serif;
}

h2 {
  font-family: "effra";
  font-size: 48px;
  margin-bottom: 5px;
}

h3 {
  font-family: "effra";
  font-size: 30px;
  margin-top: 5px;
}

p {
  font-family: "minion-pro";
  font-size: 22px;
}

img.reviewer{
  border-radius:50px;
  border:2px solid #444;
}

.header {
  background-color: black;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.header h1 {
  font-family: "effra",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 300;
  font-size: 12px;
  padding: 20px;
  margin-top: 20px;
}
